{% extends 'app/base.html' %}
{% block body_block %}

    {% if orders %}
        <h2>Orders</h2>
        <ol>
            {% for order in orders %}
                <p>Product: {{ order.product.name }}</p>
                <p>Number of Units: {{ order.num_units }}</p>
                <p>Status: {{ order.order_status }}</p>
                <br>
            {% endfor %}
        </ol>
    {% else %}
        <strong>There are no available orders!</strong>
    {% endif %}

{% endblock %}
{% block login_logout %}
    {% if request.user.is_authenticated %}
        <li class="hbar1"><a href="{% url 'app:myorders' %}">My orders</a></li>
        <li class="hbar1"><a href="{% url 'app:logout' %}">Logout</a></li>
    {% else %}
        <li class="hbar1"><a href="{% url 'app:login' %}">Login</a></li>
        <li class="hbar1"><a href="{% url 'app:register' %}">Register</a></li>
    {% endif %}
{% endblock %}