{% extends 'app/base.html' %}
{% block body_block %}
    {% if prodlist %}
        <h3 style="margin-top: 30px; margin-left: 10px">List of Products:</h3>
        <ol class="list-group list-group-horizontal list-group-numbered">
            {% for prod in prodlist %}
                {#                <a href="{% url 'app:detail' cat.id %}">{{cat.name}}</a>#}
                <li class="list-group-item"><a href="/app/{{ prod.name }}">{{ prod.name }}</a></li>
            {% endfor %}
        </ol>
    {% else %}
        <strong>There are no available products!</strong>
    {% endif %}
    <form action="" method="post" style="margin-left: 20px; margin-top: 30px">
        {% csrf_token %}
        {{ form }}
        <br>
        <input type="submit" value="Submit" class="btn btn-primary"/>
    </form>
{% endblock %}
{% block login_logout %}
    {% if request.user.is_authenticated %}
        <li class="hbar1"><a href="{% url 'app:myorders' %}">My orders</a></li>
        <li class="hbar1"><a href="{% url 'app:logout' %}">Logout</a></li>
    {% else %}
        <li class="hbar1"><a href="{% url 'app:login' %}">Login</a></li>
        <li class="hbar1"><a href="{% url 'app:register' %}">Register</a></li>
    {% endif %}
{% endblock %}