{% extends 'app/base.html' %}
{% block body_block %}
    {% if prodlist %}
        <h2>List of Products</h2>
        <ol>
            {% for prod in prodlist %}
                {#                <a href="{% url 'app:detail' cat.id %}">{{cat.name}}</a>#}
                <li><a href="/app/{{ prod.name }}">{{ prod.name }}</a></li>
            {% endfor %}
        </ol>
    {% else %}
        <strong>There are no available products!</strong>
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit" />
    </form>
{% endblock %}
{% block login_logout %}
    {% if request.user.is_authenticated %}
        <li class="hbar1"><a href="{% url 'app:myorders' %}">My orders</a></li>
        <li class="hbar1"><a href="{% url 'app:logout' %}">Logout</a></li>
    {% else %}
        <li class="hbar1"><a href="{% url 'app:login' %}">Login</a></li>
        <li class="hbar1"><a href="{% url 'app:register' %}">Register</a></li>
    {% endif %}
{% endblock %}