{% extends 'app/base.html' %}
{% block body_block %}
    <h2>Product Name: {{ name }}</h2>
    <h2>Interested: {{ interested }}</h2>
    <h2>Price: {{ price }}</h2>

    <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit" />
    </form>
{% endblock %}
{% block login_logout %}
    {% if request.user.is_authenticated %}
        <li class="hbar1"><a href="{% url 'app:myorders' %}">My orders</a></li>
        <li class="hbar1"><a href="{% url 'app:logout' %}">Logout</a></li>
    {% else %}
        <li class="hbar1"><a href="{% url 'app:login' %}">Login</a></li>
        <li class="hbar1"><a href="{% url 'app:register' %}">Register</a></li>
    {% endif %}
{% endblock %}